{% extends "base.html" %}

{% block main %}
    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
        <h2>Список торрентов</h2>
        <div class="table-responsive" id="torrents_list">
        </div>
        {% if page_count > 0 %}
             <div>
                 {% set min_p = page_num - 3 %}
                 {% set max_p = page_num + 4 %}
                 {% if min_p < 1 %}{% set min_p = 1 %}{% end %}
                 {% if max_p > page_count %}{% set max_p = page_count %}{% end %}
                 <a href="/?page_num=1" class="btn btn-outline-primary"><<</a>
                 {% for pn in range(min_p, max_p) %}
                    {% if pn == page_num %}
                         <a href="/?page_num={{ pn }}" class="btn btn-primary">{{ pn }}</a>
                    {% else %}
                         <a href="/?page_num={{ pn }}" class="btn btn-outline-primary">{{ pn }}</a>
                    {% end %}
                 {% end %}
                 <a href="/?page_num={{ page_count - 1 }}" class="btn btn-outline-primary">>></a>
             </div>
        {% end %}
        <script>
            $(document).ready(function() {
                filter = {
                    'genre_filter': '{{ genre_filter }}',
                    'search_filter': '{{ search_filter }}',
                    'rating_order': true,
                    'page_num': {{ page_num }},
                    'page_count': {{ page_count }}
                };
                $.post("/ajax_list", JSON.stringify(filter), function(data) {
                    $("#torrents_list").html(data);
                });
            });
        </script>
    </main>
{% end %}