{
    "db": {
        "host"			            : "localhost",
        "port"			            : 5432,
        "dbname"		            : "spider",
        "user"		                : "postgres",
        "password"		            : "qweasdzxc"
    },
    "rows_per_page": 10,
    "torrent_base_url": "http://ru-tor.net"
}
